_build/
nrf_firmware/nRF5_SDK/components/toolchain/gcc/Makefile.windows
nrf_firmware/nRF5_SDK/components/toolchain/gcc/Makefile.posix
nrf_firmware/Debug
nrf_firmware/Release
nrf_firmware/x64
nrf_firmware/.vs
nrf_firmware/test_framework/logging
/.vs
/.vscode
/config_app/MissMooseConfigurationApplication/.vs
/config_app/MissMooseConfigurationApplication/MissMooseConfigurationApplication/bin
/config_app/MissMooseConfigurationApplication/MissMooseConfigurationApplication/obj
/nrf_firmware/.vscode/settings.json
nrf_firmware/genetic_algo/output/
nrf_firmware/genetic_algo/__pycache__/
nrf_firmware/genetic_algo/__pycache__/pyeasyga_mod.cpython-36.pyc
nrf_firmware/genetic_algo/pyeasyga_mod.pyc
