_build/
nrf_firmware/nRF5_SDK/components/toolchain/gcc/Makefile.windows
nrf_firmware/nRF5_SDK/components/toolchain/gcc/Makefile.posix
/.vs
/.vscode
/config_app/MissMooseConfigurationApplication/.vs
/config_app/MissMooseConfigurationApplication/MissMooseConfigurationApplication/bin
/config_app/MissMooseConfigurationApplication/MissMooseConfigurationApplication/obj
